{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="pusher">
    <div class="ui three stackable cards">
      {% for slave in slaves %}
        <h1 class="ui header"></h1>
        <div class="card">
          <div class="image">
            <img src="{{ slave.graph_url }}">
          </div>
          <div class="content">
            <a class="header" href="{{ url_for('master_control', master_id=slave.master_id) }}">{{ slave.name }}</a>
            <a class="header" href="{{ url_for('master_control', master_id=slave.master_id) }}">{{ slave.RXAddr }}</a>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
