{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="ui visible sidebar inverted vertical menu">
    <a class="item header">
      안경 마을
    </a>
    <a class="item menu">

        <i class="angle left icon"></i>
    </a>
    <a class="item menu">

        <i class="angle left icon"></i>
    </a>
    <a class="item menu">
        인물 소개
        <i class="angle left icon"></i>
    </a>
    <a class="item menu">
        로그인
        <i class="angle left icon"></i>
    </a>
    <a class="item menu">
        회원가입
        <i class="angle left icon"></i>
    </a>
  </div>
  <div class="pusher">
    <!-- Site content !-->
      asdfasdf
  </div>
{% endblock %}
